
body {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGUlEQVQYV2NkIBIwEqmOYVQh3pAiNnj+AwALaAEKfsPrZgAAAABJRU5ErkJggg==);
	background-position: 18px 11px;
}

div {
	margin: 0;
}

.block {
	width: 46px;
	height: 46px;
	border: 2px solid;
	position: absolute;
}

.floor {
	width: 500px;
	height: 0;
	border: 2px solid black;
	position: absolute;
}

.wall {
	width: 296px;
	height: 200px;
	border: 2px solid lightgray;
	position: absolute;
}

.padding {
	width: 600px;
	height: 300px;
	position: absolute;
}

.move-cursor {
	cursor: move;
}

.grabbable {
	cursor: grab;
	cursor: -webkit-grab;
}
.grabbable:active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
	opacity: 0.8;
}

